
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Admin Panele Hoş Geldiniz.</h1>
<a asp-area="" asp-controller="Home" asp-action="Index">Blog Sitesine Dön</a>

